@font-face {
  font-family: "NanumGothic";
  src: url("../pages/files/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: "NanumGothicBold";
  src: url("../pages/files/NanumGothic-Bold.ttf");
}

@font-face {
  font-family: "NanumGothicExtraBold";
  src: url("../pages/files/NanumGothic-ExtraBold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: NanumGothicBold;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
